body {
    background-color: white;
    color: black;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px
}


.nav{
    background-color: rgb(50, 46, 83);
    color: white;
}

.nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 0;
}

.nav ul li {
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    transition: background-color 0.2s;
}

.nav ul li:hover {
    background-color: black;
}

.image-area{
    background-image:url("../images/Background.png");
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.centered-container{
    max-width: 1020px;
    margin: 0px auto;
    padding: 0px 16px;
}

.centered-containerTitle{
    max-width: 2000x;
    margin: 0px auto;
    padding: 0px 16px;
}

.image-text{
    text-align: center;
    background-color: rgb(30, 28, 53);
    content: 500px;
    color: white;
    font-size: 4.0rem;
}

.intro-text {
    color: grey;
    font-size: 2rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.single-service{
    text-align: center;
    margin-bottom: 32px;
}

.single-service p {
    padding: 0px 16px;
    color: rgb(50, 46, 83);
}

@media screen and (min-width: 700px) {
    .nav ul {
        text-align: center;
    }

    .nav ul li {
        display: inline-block;
        border-bottom: 0px;
        border-left: 1px solid whitesmoke;
        text-align: left;
    }

    .single-service {
        width: 100%;
        float: left;
    }
}